<template>
  <div class="container">
    <form @submit.prevent="submitForm" class="form">
      <div class="field">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" v-model="nombre" class="input" />
        <span v-if="nombre.length < 5 || nombre.length > 18" class="error-message">El nombre debe tener entre 5 y 18 caracteres.</span>
      </div>
      <div class="field">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" v-model="apellido" class="input" />
        <span v-if="apellido === nombre" class="error-message">El apellido no puede ser igual al nombre.</span>
      </div>
      <div class="field">
        <label for="edad">Edad:</label>
        <input type="number" id="edad" v-model.number="edad" class="input" />
        <span v-if="edad <= 0 || edad >= 60" class="error-message">La edad debe ser mayor a 0 y menor a 60.</span>
      </div>
      <div class="field">
        <label for="genero">Género:</label>
        <select id="genero" v-model="genero" class="input">
          <option v-for="opcion in opcionesGenero" :key="opcion" :value="opcion">{{ opcion }}</option>
        </select>
      </div>

      <!-- Campo de orientación sexual, visible solo si se selecciona 'otro' en género -->
      <div v-if="genero === 'otro'" class="field">
        <label for="orientacion-sexual">Orientación Sexual:</label>
        <select id="orientacion-sexual" v-model="orientacionSexual" class="input">
          <option v-for="opcion in opcionesOrientacionSexual" :key="opcion" :value="opcion">{{ opcion }}</option>
        </select>
      </div>

      <button type="submit" :disabled="!validarFormulario()" class="button">Enviar</button>
    </form>

    <!-- Mensaje -->

    <div v-if="enviado" class="confirmation-message">
      ¡El formulario se ha enviado correctamente!
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const nombre = ref('');
const apellido = ref('');
const edad = ref(0);
const genero = ref('');
const orientacionSexual = ref('');
const enviado = ref(false);
const opcionesGenero = ['masculino', 'femenino', 'otro'];
const opcionesOrientacionSexual = ['Heterosexual', 'Homosexual', 'Bisexual', 'Pansexual', 'Asexual', 'Otra'];

const validarFormulario = () => {
  const nombreValido = nombre.value.length >= 5 && nombre.value.length <= 18;
  const apellidoValido = apellido.value !== nombre.value;
  const edadValida = edad.value > 0 && edad.value < 60;

  const orientacionValida = genero.value !== 'otro' || orientacionSexual.value !== '';

  return nombreValido && apellidoValido && edadValida && orientacionValida;
};

const submitForm = () => {
  enviado.value = true;
};
</script>

<style scoped>
.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff00;
}

.field {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.error-message {
  color: #e60000;
  font-size: 14px;
}

.confirmation-message {
  color: #008000;
  font-size: 18px;
  margin-top: 10px;
}
</style>
