<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import ContactForm from './components/ContactForm.vue';

</script>

<template>

<div class="Box">
  
  <div class="Box">
    <h1>Formulario de Contacto</h1>
    <contact-form />
  </div>
</div>

</template>

<style scoped>
.Box h1{

  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: center;
}

</style>
